<%= form_for ([@article, @article.comments.build]) do |f| %>
    <p>
      <%= f.label :Commenter, class: 'label label-primary' %><br>
      <%= f.text_field :commenter, :style => 'width:500px;' %>
    </p>

    <p>
      <%= f.label :Comment, class: 'label label-primary'%><br>
      <%= f.text_area :body, :style => 'width:500px; height:100px;'  %>
    </p>

    <p>
      <%= f.submit 'Create Comment', :class  => 'btn btn-primary'%>
    </p>
<% end %>